.rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
}

.image {
    height: 10vw;
    width: 10vw;
}

.font {
    height: 2vw;
    background-color: #074C4C;
    color: #FDC539;
    border-top: solid #074C4C;
}

.corp {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,229,148,1) 100%);
    margin:0;
}

a element-tete{
    margin:1.2vw;
}

a:link{
    color: #FDC539;
}

a:visited{
    color: #FDC539;
}

a:hover{
    color: #FF5F21FF;
}

.image_pdt{
    height: 20%;
    width: auto;
}