.pack {
    position: relative;
}
.pack1 {
    position: relative;
    top:30vw;
}
.pack2 {
    position: relative;
    top:60vw;
}
.pack3 {
    position: relative;
    top:90vw;
}

.taille{
   height:5vw;
}

.objet {
    position: absolute;
    top: 0;
}

.rectangle {
    left: 0;
    border-bottom: 25vw solid #074c4c;
    border-right: 2vw solid transparent;
    height: 0;
    width: 75vw;
}
.rectangle1 {
    right: 0;
    border-bottom: 25vw solid #074c4c;
    border-left: 2vw solid transparent;
    height: 0;
    width: 75vw;
}

.soustexte {
    font-family:Century Gothic;
    width:60vw;
    font-size:2vw;
    top: 5vw;
    margin:5vw;
    color: #ffffff;
    resize:none;
    font-size-adjust:0.5;
}
.soustexte1 {
    font-family:Century Gothic;
    width:60vw;
    left:25vw;
    font-size:2vw;
    top: 5vw;
    margin:5vw;
    color: #ffffff;
    resize:none;
    font-size-adjust:0.5;
}

.titretexte {
    font-family:Lucida Handwriting;
    font-size:3vw;
    margin:5vw;
    color: #FDC539;
    resize:none;
    font-size-adjust:0.5;
}
.titretexte1 {
    font-family:Lucida Handwriting;
    left:25vw;
    font-size:3vw;
    margin:5vw;
    color: #FDC539;
    resize:none;
    font-size-adjust:0.5;
}

.image {
    left: 75vw;
    height: 25vw;
    width: 25vw;
}
.image1 {
    right: 75vw;
    height: 25vw;
    width: 25vw;
}

.font {
    height: 3vw;
    background-color: #074C4C;
    color: #FDC539;
    border-top: solid #074C4C;
    font-size: 1.5vw;
}

.corp {
    margin:0;
    background:linear-gradient(0deg, rgba(255,206,56,1) 0%, rgba(255,255,255,1) 100%);
    background-attachment: fixed;
}

a{
    margin:1vw;
}
a:link{
    color: #FDC539;
}
a:visited{
    color: #FDC539;
}
a:hover{
    color: #FF5F21FF;
}

.gros{
    font-size:1.5em;
}

.image_pdt{
    height: 20%;
    width: auto;
}